# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.idea
core/src/main/resources/google.properties
*.iml
core/out/
gradle/
gradlew
local.properties
